@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .nav-bar {
        visibility: hidden;
    }

    .header {
        padding: 0 15px;
    }
    .background-1 {
        background-position: center;
    }

    .app-header__nav-menu-button-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 28px;
        width: 25px;
    }
    
    .app-header__nav-menu-button-icon span:nth-child(1) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: var(--lettercolor);
    }

    .app-header__nav-menu-button-icon span:nth-child(2) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: var(--lettercolor);
    }

    .app-header__nav-menu-button-icon span:nth-child(3) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: var(--lettercolor);
    }

    .media-section {
        height: auto;
    }

   .grid-container {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        grid-template-columns: none;
        padding-left: 10px;
   }

   .main-h2 {
        width: 355px;
        height: 260px;
        margin: 0 auto;
   }

   .main-h3 {
        margin-top: 100px;
        font-size: 24px;
   }

   .button-container {
       margin-top: 0;
       padding-bottom: 20px;
   }

   .grid-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 170px;
        grid-template-columns: none;
        grid-template-rows: none;
        padding: 0;
   }

   .footer-address {
       text-align: center;
   }

   .flex-logo {
        display: flex;
        align-items: center;
        padding-top: 20px;
   }

}